/*媒体查询部分*/

/*大型PC屏幕下专用样式*/
@media screen and (min-width:1200px) {

}

/*中等PC屏幕下的专用样式*/
@media screen and (min-width:992px) and (max-width: 1199px) {
	/*查看资料部分*/
	.white_content{
		width: 98%;
		left: 0;
	}

	.the_close_btn{
	    right: 6px;
	}

    /*查看联系方式部分*/
    .contact_info_box{
    	top: 20%;
    	left: 34%;
        width: 30%;
    }		   
}

/*PAD屏幕下的专用样式*/
@media screen and (min-width: 768px) and (max-width:991px){
	/*查看资料部分*/
	.lookbtn{
		font-size: 20px;
	}

	.white_content{
		width: 98%;
		left: 0;
	}

	.the_close_btn{
	    right: 6px;
	}

    /*查看联系方式部分*/
    .contact_info_box{
    	top: 20%;
    	left: 28%;
        width: 44%;
    }		       
}

/*PHONE屏幕下的专用样式*/
@media screen and (max-width:767px){
	/*查看资料部分*/
	.lookbtn{
		font-size: 20px;
	}

 	.white_content{
		width: 100%;
		left: 0px;
		font-size: 14px;
	}

	.the_close_btn{
	    right: 6px;
	}	

	.material_title{
		font-size: 30px;
	}    
	.material_left{
		width: 62%;	
	}

	.material_right{
		padding: 0 10px;
		width: 38%;
	}	
	.material_star{
		font-size: 14px;
	}
	.textarea_box span{
		cursor: pointer;
		margin: 0 2px;
		font-size: 12px;
	}

    /*查看联系方式部分*/
    .contact_info_box{
    	top: 20%;
    	left: 8%;
        width: 84%;
    }		 
}
 