.formad{
    width: 582px;
    height: 24px;
    margin-bottom: 15px;
}
.formad input{
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
    /* vertical-align: middle; */
}
.formad label{
    font-size: 16px;
    vertical-align: top;
    margin: 0 10px;
}
.formad span{
    font-size: 16px;
    vertical-align: top;
    margin-left: 10px;
}
.bottom-fix{
    margin-bottom: 35px;
}
.form-p{
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 20px;
}
.ad-artile{
    margin-bottom: 35px;
}
#adtitle{
    padding: 15px;
    outline: none;
}
.buy{
    height: 50px;
    margin-top: 45px;
    text-align: center;
}
.buy button{
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: cornflowerblue;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
#form-jiafile{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    background-color: #bbb;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#form-file{
    display: none;
}
.ad-sc{
    height: 50px;
}