.right-main-hr{
    width: 582px;
    height: 0px;
    border: 0;
    border-top: 1px solid #d7d8d7;
    margin: 7px 0 20px 0;
}
.showtime{
    width: 582px;
}
.showtme-top{
    color: gray;
    margin-bottom: 20px;
    width: 582px;
    height: 21px;
}
.showtime-title{
    width: 582px;
    border-bottom:  1px solid #d7d8d7;;
    height: 46px;
    line-height: 46px;
    margin-bottom: 20px;
}
.showtime-title h3{
    color: #2D3238;
    font-size: 18px;
    font-weight: 500;
}
.showtime-content{
    width: 552px;
    background-color: rgba(0, 0, 0, 0.05);
    height: 365px;
    padding: 15px;
    margin-bottom: 15px;
}
.ul{
    width: 552px;
    height: 30px;
}
.ul>li{
    width: 100px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.con{
    width: 552px;
    height: 335px;
    overflow: hidden;
}
.con>div{
    float: left;
    background: #fff;
    width: 522px;
    height: 305px;
    display: none;
    padding: 15px;
}
.ul li.active{
    background-color: #fff;
    color: #333;
}
.con div.active{
    display: block;
}
.con-tab>p{
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
.chk-label input{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.xxk-tab{
    height: 72px;
}
.chk-label{
    height: 24px;
    width: 127px;
    margin-bottom: 10px;
}
.chk-label label{
    vertical-align: top;
    line-height: 24px;
    font-size: 14px;
    width: 56px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
}
.showtime-textarea{
    outline: none;
    padding: 15px;
}