
html,body,div,p,a,span,ul,ol,li,h1,h2,h3,h4,h5,h6,b,i{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    min-height: 900px;
    overflow-x: hidden;
    font-size: 0.16rem;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.box{
    width: 100%;
    margin: 0;
    padding: 0;
}
/* 小屏幕（平板，大于等于768px） */

@media (min-width: 768px) {

    .qqq {
    
    font-size:26px;
    
    }
    
   
    
}
/* 中等屏幕（桌面显示器，大于等于992px） */

@media (min-width: 992px) {

    .qqq {
    
    font-size:42px;
    
    }
    
    
    
}

/* 头部 */
.header{
    width: 100%;
    height: 640px;
    background-color: #354151;
    position: relative;
}
.navbar-default {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border: none;
    position: absolute;
    top: 30px;
    z-index: 50;
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default{
    background-color: transparent;
}
/* 轮播 */
.lunbo{
    width: 100%;
    height: 640px;
}
.navphoto1{
    width: 100%;
    height: 640px;
    background: url(../img/yangban.jpg) center/cover no-repeat;
}
.navphoto2{
    width: 100%;
    height: 640px;
    background: url(../img/yangban1.01.jpg) center/cover no-repeat;
}
.navphoto3{
    width: 100%;
    height: 640px;
    background: url(../img/yangban2.0.jpg) center/cover no-repeat;
}
/* 数据 */
.datedate{
    width: 100%;
    /* height: 113px; */
    border-bottom: 1px solid rgba(151,159,168,.2);
    padding: 14px 0;
}
.date1{
    width: 62.5%;
    margin: 0 auto;
    color: #8796A8;
}
.date1-1{
    display:inline-block;
    text-align: center;
}
.date1-1 p:nth-child(1){
    font-size: 42px;
}
.date1-1 p:nth-child(2){
    font-size: 14px;
}
/* 项目分类 */
.module{
    width:1200px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
    margin-top: 50px;
}
.love{
    position: relative;
    width: 240px;
    height: 200px;
}
.font{
    width: 180px;
    font-size: 22px;
    color:#fff;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: center;
}
.disc1,.disc2{
    width: 100px;
    height: 99px;
    border-radius: 50%;
    background-color: #fa6569;
    position: absolute;
    top: 0;
    left: 0;
}
.disc2{
    left: 75px;
}
.square{
    width: 100px;
    height: 100px;
    background-color: #fa6569;
    position: absolute;
    top: 37px;
    left: 37px;
    transform: rotate(45deg);
}
.bg-1{
    background-color: #9999cc;
}
.bg-2{
    background-color: #ff9999;
}
.bg-3{
    background-color: #66cccc;
}
.bg-4{
    background-color: #66ccff;
}

/* 项目列表 */
.aaa .col-sm-9{
    padding: 0;
}
.container{
    padding: 0;
    margin: 0 auto;
}
.col-sm-3{
    padding: 0;
    margin: 0;
}
.dynamic,.bad{
    width: 280px;
    margin-bottom: 50px;
}
.bad{
    border-bottom: 1px solid #666;
}
.newdynamic,.newbad{
    width: 100%;
    height: 60px;
    background-color: #006699;
    color:#fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    border: 1px solid #666;
}
.userdynamic,.userbad{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #666;
    border-top: none;
    padding-left: 20px;
}
.newbad{
    background-color: transparent;
    border-bottom: none;
    color: #666;
    height: 40px;
    line-height: 55px;
}
.userbad{
    border-bottom: none;
}
.list{
    width: 100%;
}
.list h2{
    margin-bottom: 30px;
}
.list-contant{
    width: 100%;
    height: 120px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: flex-start;
}
.list-contant-img{
    width: 120px;
    height: 118px;
    background-color: pink;
}
.list-contant-character{
    padding: 20px;
    height: 118px;
    width: 780px;
    position: relative;
}
.demand{
    display: flex;
    justify-content: space-between;
    width: 100%;
    width: 100%;
    /* line-height: 35px; */
    vertical-align: middle;
}
.recommend{
    width: 30px;
    height: 20px;
    background-color: #fff;
    color: green;
    border: 1px solid green;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 28px;
    left: 291px;
}
.list-contant:hover{
    background-color: #8796A8;
}
.demand a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
}
.demand p{
    line-height: 35px;
}
.a000{
    margin-right: 20px;
}
.demand-s{
    color: #fa6569;
    margin: 0 10px;
    font-size: 20px;
}
.demand-s1{
    margin-left: 20px;
}
/* 广告 */
.advertising{
    background-color: pink;
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
/* 交易与服务流程 */
.deal{
    text-align: center;
    padding-top: 56px;
    margin-bottom: 50px;
}
.bbb .col-sm-5{
    height:419px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.bbb .col-sm-7{
    height: 419px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a009{
    position: absolute;
    top: 50%;
    bottom: 50%;
}
.bbb .col-sm-5 p:nth-child(1){
    font-size: 36px;
}
.bbb .col-sm-5 p:nth-child(2){
    font-size: 40px;
}
.bbb .col-sm-5 p:nth-child(3){
    font-size: 16px;
}
/* 成功案例展示 */
.comment{
    width: 1200px;
    height: 560px;
    margin: 0 auto;
    border: 1px solid #666;
}
.comment h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.anle{
    width: 100%;
    height: 425px;
    overflow: hidden;
    
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    min-width: 175px;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .succeed{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background-color: yellow;
  }
  .project{
      width: 50%;
      text-align: left;
      padding: 50px 100px;
  }
  .project p:nth-child(1){
      font-size: 25px;
  }
  .project p:nth-child(2),.project p:nth-child(4){
    font-size: 20px;
    margin-top: 50px;
    /* margin-bottom: 50px; */
  }
  .project-s{
      color: red;
      margin-left: 50px;
  }
  .photo{
      width: 50%;
      height: 100%;
      background-color: pink;
  }
  /* 底部1 */
  .bottom{
    width: 100%;
    height: 300px;
    background-color: #333366;
  }
  .guide{
      width: 1200px;
      margin: 0 auto;
      padding: 50px 20px 0;
      display: flex;
      justify-content: space-between;
  }
  .guide ul{
    margin-right: 50px;
  }
  .guide ul li:nth-child(1) a{
    color: #fff;
    font-size: 16px;
}
  .guide ul li a{
      color: #8796a8;
      font-size: 14px;
      line-height: 40px;
      text-decoration: none;
  }
