html{
<<<<<<< HEAD
=======
    height: 100%;
>>>>>>> wyj
    width: 100%;
    font-size: 100px;
    overflow-x: hidden;
}

body{
<<<<<<< HEAD
=======
    height: 100%;
>>>>>>> wyj
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #F0F2F5;
}

a:hover{
    text-decoration: none;
}

@media screen and (min-width: 770px){
    form input{
        width: 82%;
    }
    form .form-login , form .form-return{
        margin-left: 80px;
        width: 83%;
    }
    .verify-send{
        right: 0;
    }
    .container{
<<<<<<< HEAD
        padding-bottom: 280px;
=======
        /*padding-bottom: 230px;*/
>>>>>>> wyj
    }
}

@media screen and (max-width: 770px){

    input{
        width: 100%;
    }
    .form-hide{
        display: none;
    }
    form .form-login , form .form-return{
        width: 100%;
    }
}


.container{
    min-width: 320px;
    height: 100%;
<<<<<<< HEAD
    min-height: 650px;
    position: relative;
    /*padding-bottom: 280px;*/
=======
    min-height: 770px;
    position: relative;
    overflow: hidden;
>>>>>>> wyj
}

/*内容*/
main{
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
}

/*表格*/
main form{
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    margin: 55px auto;
=======
    margin: 90px auto 0;
>>>>>>> wyj
}

form label{
    display: block;
    margin-bottom: 20px;
    font-size: 0;
}

form span{
    display: inline-block;
    width: 80px;
    line-height: 55px;
    font-size: 16px;
}

form input{
    height: 45px;
    border-radius: 5px;
    border: 1px solid #49a9ee;
    font-size: 16px;
    outline: none;
    text-indent: 1em
}

form input::placeholder{
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}

<<<<<<< HEAD
form .form-title{
=======
form > .form-title{
>>>>>>> wyj
    font-size: 28px;
    text-align: center;
    color: #49a9ee;
    line-height: 60px;
}

<<<<<<< HEAD
form .form-verify{
=======
form > .form-verify{
>>>>>>> wyj
    box-sizing: border-box;
    position: relative;
}

<<<<<<< HEAD
form .form-verify button{
=======
form > .form-verify > button{
>>>>>>> wyj
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    line-height: 45px;
    border: none;
    border-left: 1px solid #49a9ee;
    outline: none;
    padding: 0 .06rem;
    background-color: transparent;
    color: #49a9ee;
    font-size: 14px;
    cursor: pointer;
}

<<<<<<< HEAD
form .form-verify .send-disabled{
    cursor: not-allowed;
}

form .form-sure{
=======
form > .form-verify > .send-disabled{
    cursor: not-allowed;
}

form > .form-sure{
>>>>>>> wyj
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

<<<<<<< HEAD
form .form-sure .sure-check{
=======
form > .form-sure > .sure-check{
>>>>>>> wyj
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

<<<<<<< HEAD
form .form-sure .sure-check i{
=======
form > .form-sure > .sure-check > i{
>>>>>>> wyj
    display: none;
    line-height: 10px;
    position: absolute;
    background-color: #108ee9;
    color: #fff;
    right: 0px;
    width: 13px;
    height: 14px;
}

<<<<<<< HEAD
form .form-sure .sure-ready{
=======
form > .form-sure > .sure-ready{
>>>>>>> wyj
    white-space: nowrap;
    font-size: 14px;
    margin: 0 5px;
    line-height: 16px;
    color: #727f8f;
}

<<<<<<< HEAD
form .form-sure a{
=======
form > .form-sure > a{
>>>>>>> wyj
    color: #49a9ee;
    cursor: pointer;
}

<<<<<<< HEAD
form .form-login,
form .form-return{
=======
form > .form-login,
form > .form-return{
>>>>>>> wyj
    background-color: #3a79c2;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

<<<<<<< HEAD
form .form-return{
    background-color: transparent;
    color: #000;
=======
form > .form-return{
    background-color: transparent;
    color: #727f8f;
>>>>>>> wyj
    margin-bottom: 100px;
}