@media screen and (max-width: 770px){
    .anchor{
        display: none;
    }
    .header-name,.header-span{
        display: none;
    }

}

@media screen and (min-width: 770px){
    .anchor-pic{
        display: block;
    }
    header li{
        margin-right: 20px;
    }
    .header-return{
        display: none;
    }
}
/*头部导航栏*/
header{
    box-shadow: 0 1px 2px 1px #ccc;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

header ul{
    height: 29px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 25px 0;
    margin: 0 15px;
}

header ul li{
    /*margin-right: 20px;*/
    font-size: 16px;
    white-space: nowrap;
}

header ul .header-name{
    font-weight: bold;
    color: #49a9ee;
    transform: scale(1.4);
    animation: name 1s;
    cursor: pointer;
}

@keyframes name{
    0%{ transform: scale(1.4) }
    50%{ transform: scale(1.8) }
    100%{ transform: scale(1.4) }
}

header .header-return{
    font-size: 14px;
    color: #000;
}

header .enter{
    font-size: 12px;
    padding: 5px 25px;
    border: 1px solid #49a9ee;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
}

header .enter:hover{
    background-color: #49a9ee;
}

header .enter:hover a{
    color: #fff;
}
/*登陆界面身份选择*/
.Identitychoice{
    width: 100%;
    min-width: 1220px;
    height: 550px;
}
.choicebox{
    width: 1220px;
    margin: 0 auto;
    height: 550px;
}
.xuanzehezi{
    width: 1220px;
    height: 550px;
    padding-top: 150px;
}
.loginchoice{
    margin: 50px auto 0 auto;
    width: 700px;
    height: 150px;
}
.xuanzehezi h2{
    text-align: center;
}
.gzs{
    width: 300px;
    height: 140px;
    background-color: lightgray;
    border-radius: 10px;
}
.gzs img{
    width: 100px;
    height: 70px;
}
.userimg{
    margin-top: 35px;
}
.userword{
    width: 110px;
    height: 70px;
    margin-top: 45px;
}
.userword p{
    margin-top: 10px;
}
.qy{
    margin-left: 100px;
}



